/*modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.modal__content {
  width: 100%;
  background-color: var(--color-bg-light);
}
/*Restart*/
.restart {
  text-align: center;
}
.restart__title {
  font-size: 2rem;

  margin-bottom: 30px;
}

.restart__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
/* score */
.score {
  text-align: center;
}
.score__title {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 10px 0;
  justify-content: center;
}

.score__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.scoreP {
  font-size: 25px;
  font-weight: bold;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
